{% extends "blog/base.html" %}

{% block content %}
<main class="main-content section-wrapper">
    <div class="section-content-narrow">
        <div class="section-gap">
            <h1 class="center">A page </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex sapiente quibusdam quas aliquid dolorum. Delectus laboriosam quod maiores, animi fugiat ipsa doloremque placeat eius odit veritatis alias a velit voluptas!</p>
        </div>
    </div>
</main>
{% endblock content %}

